@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");

:root {
  --primary-orange: #f16718;
  --primary-secondary: #ff9b62;
  --dark-color: #162542;
  --light-color: #7b8bad;
  --white: #fff;
}

body {
  min-height: 100vh;
  font-family: "Barlow", "sans-serif";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  margin: 0 24px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 14px;
  border-radius: 8px;
  font-weight: 700;
}

.title {
  font-weight: 900px;
  color: var(--dark-color);
}

.text {
  color: var(--light-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
