.header {
  margin-top: 27px;
  margin-bottom: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  background-color: #e8eff2;
}

.header-btn:hover {
  color: white;
  background-color: var(--dark-color);
}

main {
  margin-bottom: 96px;
}

.hero__section {
  margin-bottom: 25px;
}

.hero__section-textcontent {
  width: 100%;
  gap: 32px;
  margin-bottom: 75px;
}

.main__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.information {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order__btn {
  background-color: var(--primary-orange);
  color: var(--white);
}

.order__btn:hover {
  background-color: var(--secondary-orange);
}

.date {
  color: var(--light-color);
  margin-right: 15px;
}

.img__tablet {
  display: none;
}

.img__desktop {
  display: none;
}

.hero__section-img-container {
  margin-right: -22px;
}

.hero__section-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* IMGS section */

.imgs {
  display: flex;
  margin-left: -25px;
  gap: 25px;
  height: 193px;
  margin-bottom: 75px;
}

.imgs div {
  background-color: var(--primary-orange);
  border-radius: 20px;
}

.img__left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  height: 193px;
  opacity: 0.3;
}

.img__right {
  border-radius: 20px;
}

.about__title {
  text-align: center;
}

.about__header {
  margin-bottom: 111px;
}

.about__title {
  font-size: 32px;
  max-width: 220px;
  margin: 0 auto 24px;
}

.about__text {
  text-align: center;
}

.about__list {
  gap: 64px;
}

.about__list-item {
  display: flex;
  gap: 48px;
}

.orange__box {
  width: 65px;
  height: 65px;
  background-color: var(--primary-orange);
  border-radius: 15px;
}

.about__item-content {
  max-width: 327px;
  width: 100%;
  text-align: center;
}

.about__item-title {
  font-size: 24px;
  text-align: center;
  margin: 0 auto 24px;
}

.about__item-text {
  width: 299px;
  font-size: 16px;
  width: 36ch;
}

footer {
  color: #7b8bad;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 700px) {
  .img__mobile {
    display: none;
  }

  .img__tablet {
    display: block;
  }

  .container {
    margin: 0 40px;
  }

  .header {
    margin-top: 49px;
    margin-bottom: 62px;
  }

  .hero__section {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero__section-textcontent {
    width: 100%;
    align-items: flex-start;
  }

  .hero__section-img-container {
    width: 100%;
    height: 425px;
    margin-right: -80px;
  }

  .hero__section-img {
    width: 100%;
    height: 100%;
  }

  .imgs {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 320px;
  }

  .img__left {
    width: 245px;
    height: 100%;
  }
  .img__right {
    width: 445px;
    height: 100%;
  }

  .information {
    width: 100%;
    gap: 30px;
    justify-content: flex-start;
  }

  .order__btn {
    width: 175px;
  }

  .btn {
    padding: 16px 26px;
  }

  .main__title {
    text-align: start;
  }
}
